/*==============================================================

Navigation

File: SCSS Partial (/scss/partials/_navigation.scss)
Compiled to: css/global.css
Created: 14/06/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Primary, secondary & tertiary navigations
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Menus
  -------------------------------------------------------- */

.menu {

	a {
		text-decoration: none;
	}
}

.menu-inline {

	>li {
		margin-right: $base-num;

		a {
			@include inline-block;
			padding: $base-num;
		}
	}
}

.menu-stacked {

	>li {
		border-bottom: 1px solid $base-clr;
		margin-bottom: $base-num;
		padding-bottom: $base-num;
		position: relative;
		line-height: 18px;
	}
}

.menu-blocks {

	>li {
		@extend .menu-inline;

		a {
			@include links-light;
			@include single-transition(all, 0.2s, ease-in-out);
			background: $base-clr;
			padding-top: $base-num;
			padding-bottom: $base-num;

			&:hover {
				background-color: lighten($base-clr, 20%);
			}

		}

		// Wordpress on-states
		&.current-menu-item,
		&.current_page_item,
		&.current-page-ancestor,
		&.current-post-ancestor,
		&.current-menu-parent &.current-post-parent {
			background-color: lighten($base-clr, 20%);
		}

	}
}

.navigation-paging {
    position: absolute;
    bottom: -50px;
    width: 100%;
}


//accordion archive 
details>summary {
	list-style: none;
}

details>summary::-webkit-details-marker {
	display: none;
}

details {

	summary {
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 10px 10px 7px 2px;
		text-transform: uppercase;
		border: none;
		border-bottom: 1px solid #959595;
		position: relative;
		outline: 0;
		-moz-outline-style: none;
		cursor: pointer;

		&:after {
			content: "⌄";
			position: absolute;
			right: 10px;
			top: 5px;
			font-size: 15px;
		}
	}
}

details[open] {
	summary {
		&:after {
			transform: rotate(180deg);
			top: 9px;
		}
	}
}

.search-form {
	margin-bottom: 30px;

	.search-submit {
		font-size: 14px;
	}
}